.products {
    margin-bottom: 60px;
}

.products__wrap {
    display: flex;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 16px;
}

.products__pagination {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 26px;
    max-width: 238px;
}

.product__list-wrap {
    flex: 1 1 auto;
}

.products__prev-img {
    max-height: 16px;
}

.products__next-img {
    max-height: 16px;
}

.products__pagination-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.products__pagination-list-item{
    color: rgb(0, 160, 172);
    font-family: SF Pro Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    cursor: pointer;
}

.products__prev {
    & p {
        display: none;
    }
}

.products__next {
    & p {
        display: none;
    }
}

.products__pagination-list-item-active {
    color: rgb(109, 113, 117);
    font-family: SF Pro Text;
    font-weight: 600;
    line-height: 24px;
}

@media (min-width: 992px) {
    .products {
        margin-bottom: 60px;
    }

    .product__list-wrap {
        flex: 1 1 auto;
    }

    .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        justify-items: stretch;
        align-items: stretch;
    }

    .products__wrap {
        gap: 30px;
    }

    .products__pagination {
        max-width: none;
    }

    .filter__type-title {
        margin-bottom: 16px;
    }

    .filter__brand-title {
        margin-bottom: 16px;
    }
    .brand__search {
        margin-bottom: 16px;
    }

    .products__prev {
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        & p {
            display: block;
            color: rgb(0, 160, 172);
            font-family: SF Pro Text;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
        }
    }

    .products__next {
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        & p {
            display: block;
            color: rgb(0, 160, 172);
            font-family: SF Pro Text;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
        }
    }
}
